/**
 * Archetype Settings 
 *
 */

/**
 * @todo:
 * 1. normalize include!!
 *
 */

/**
 * Imports 
 * 
 */

// Compass framework
@import "compass";
// Sass Modular Scale
@import "modular-scale";
// Archetype
@import "archetype";
// Colorkit
//@import "colorkit";

/**
 * Modular Scale
 * 
 * https://github.com/scottkellum/modular-scale
 * http://thesassway.com/projects/modular-scale
 * http://modularscales.com
 *
 * To set multiple $base-size and/or $ratio values use a space separated list. If
 * you use multiple $base-size values, the starting point of the scale will always
 * be the lowest value in this list.
 *
 * golden 1:1.618 (default)
 * double-octave 1:4 
 * major-twelfth 1:3
 * major-eleventh 3:8 
 * major-tenth 2:5
 * octave 1:2
 * major-seventh 8:15
 * minor-seventh 9:16
 * major-sixth
 * minor-sixth 5:8
 * fifth 2:3
 * augfourth 1:√2
 * fourth 3:4
 * major-third 4:5
 * minor-third 5:6
 * major-second 8:9
 * minor-second 15:16
 */

$base-size: 16px;   /* default to $base-font-size */
$ratio: fourth();


/**
 * Compass Vertical Rhythm 
 * 
 */

$relative-font-sizing : true;  // set false for px's
$base-font-size: $base-size;   // this is automaticly converted to 100% by compass (1em)
$base-line-height: 24px;       // this is automaticly converted to ems by compass (1.5em)

// Establishes a baseline for the given font-size.
@include establish-baseline($base-font-size);

/**
 * Typography Variables
 */

/*Text Selection Highlight Color*/
$selection-highlight-color:           #fe57a1;
$tap-highlight-color:                 black(75);
/*Text Selection Highlight Color*/
$selection-text-color:                $white;


/**
 * Base Spacer Unit
 */
$base-spacer-unit: $base-font-size;

$half-spacer-unit: $base-spacer-unit / 2;
$third-spacer-unit: $base-spacer-unit / 3;
$quarter-spacer-unit: $base-spacer-unit / 4;

/**
 * Radius Unit
 * 
 */
$radius-unit--small: 3px;
$radius-unit--large: 6px;

/**
 * Archetype Prototype
 *
 * Prototype classes for each module component:  sass/layout/p-modules/
 *
 *
 */

$p-library: fales;
$p-tabs: false;
$p-buttons: false;
$p-labels: false;

//@include prototype();

