/**
 * Structure Units
 * 
 */


/**
 * Spacers
 */
$base-spacer-unit: $base-font-size;

$half-spacer-unit: $base-spacer-unit / 2;
$third-spacer-unit: $base-spacer-unit / 3;
$quarter-spacer-unit: $base-spacer-unit / 4;

$media--spacer: $half-spacer-unit;


