/**
 * List Numbers
 * 
 * replace OL > LI numbers so they can be styled
 */

@mixin replace-list-numbers($decimal: null) {
  counter-reset: li;
  list-style-type: none;
  li {
    &:before {
      content: counter(li) $decimal;
      counter-increment: li;
    }
  }
}
