/**
 * Structure Units
 * 
 */


/**
 * Spacers
 */
$spacer-unit:                             $base-font-size;

$spacer-unit--half:                       $spacer-unit / 2;
$spacer-unit--third:                      $spacer-unit / 3;
$spacer-unit--quarter:                    $spacer-unit / 4;

$spacer-unit--media:                      $spacer-unit--half;


