/**
 * Alerts
 *
 */


/**
 * @todo: 
 * 1. potentially abstract alert object further, to extend to components other than alerts? 
 *    ie:  %block-relative; ****(or: partion???)***
 */


/*** @export "alert-variables" css */
/**
 * Alert Variables
 *
 * 1. optionally rename alert skin styles
 */

/**
 * Alert Structure Namespace:                     /* 1 */
 */
$small:                               small;
$large:                               large;

/**
 * Alert Skin Namespace:                          /* 1 */
 */
$default:                             info;
$positive:                            success;
$negative:                            error;
$warning:                             warning;


/*** @export "alert-structure" css */
/**
 * Alert Structure
 *
 * Extends alert object
 */
.alert_#{$small} {
  padding: $quarter-spacer-unit;
  font-weight: bold;
  font-size: $base-font-size;
  margin: $half-spacer-unit 0;
  border-radius: 4px;
}

.alert__#{$large} {
  padding: $half-spacer-unit;
  font-weight: bold;
  font-size: $base-font-size - 2;
  margin: $half-spacer-unit 0;
  border-radius: 2px;
}


/*** @export "alert-skin" css */
/**
 * Alert Skin 
 *
 */

.alert--default {
  background-color: #999;
  border: 2px solid darken($alert__default--color-bg, 15%);
  color: $white;
}

.alert--success {
  background-color: #7fae00;
  border: 2px solid darken($alert__success--color-bg, 15%); 
  color: $white;
}

.alert--warning {
  background-color: #f68b01;
  border: 2px solid darken($alert__warning--color-bg, 15%);
  color: $white;
}

.alert--error {
  background-color: #c00000;
  border: 2px solid darken($alert__error--color-bg, 15%);
  color: $white;
}

