/**
 * Alerts
 *
 * 1. optionally rename alert skin styles
 */


/**
 * @todo: 
 * 1. potentially abstract alert object further, to extend to components other than alerts? 
 *    ie:  %block-relative; ****(or: partion???)***
 * 2. move object to object directory
 */

/**
 * Alert Variables
 */

/* Alert Structure Namespace: */
$small:                               small;      /* 1 */
$large:                               large;      /* 1 */

/* Alert Skin Namespace: */
$default:                             info;       /* 1 */
$positive:                            success;    /* 1 */
$negative:                            error;      /* 1 */
$warning:                             warning;    /* 1 */

/* Alert Skin Variables: */
$alert-text-shadow:                   0 1px rgba(0,0,0,0.6);
/* default: */
$alert__default--color-bg:            #999;
$alert__default--border:        2px solid darken($alert__default--color-bg, 15%);
$alert__default--color-txt:           $white;
/* positive: */
$alert__success--color-bg:            #7fae00;
$alert__success--border:        2px solid darken($alert__success--color-bg, 15%); 
$alert__success--color-txt:           $alert__default--color-txt;
/* warning: */
$alert__warning--color-bg:            #f68b01;
$alert__warning--border:        2px solid darken($alert__warning--color-bg, 15%);
$alert__warning--color-txt:           $alert__default--color-txt;
/* error: */
$alert__error--color-bg:              #c00000;
$alert__error--border:          2px solid darken($alert__error--color-bg, 15%);
$alert__error--color-txt:             $alert__default--color-txt;


/**
 * Alert Structure
 *
 * Extends alert object
 */
.alert--#{$small} {
  padding: $quarter-spacer-unit;
  font-weight: bold;
  font-size: $base-font-size;
  margin: $half-spacer-unit 0;
  border-radius: 4px;
}

.alert--#{$large} {
  padding: $half-spacer-unit;
  font-weight: bold;
  font-size: $base-font-size - 2;
  margin: $half-spacer-unit 0;
  border-radius: 2px;
}

/**
 * Alert Skin 
 *
 */
@mixin alert-skin($alert-skin) {
  text-shadow: $alert-text-shadow;
  @if $alert-skin == "default" {
    background-color: $alert__default--color-bg;
    border: $alert__default--border;
    color: $alert__default--color-txt;
  }
  @if $alert-skin == "success" {
    background-color: $alert__success--color-bg; 
    border: $alert__success--border;
    color: $alert__success--color-txt;
  }
  @if $alert-skin == "warning" {
    background-color: $alert__warning--color-bg; 
    border: $alert__warning--border; 
    color: $alert__warning--color-txt;
  }
  @if $alert-skin == "error" {
    background-color: $alert__error--color-bg; 
    border: $alert__error--border;  
    color: $alert__error--color-txt;
  }
}

.alert--default {
  @include alert-skin(default);
}

.alert--success {
  @include alert-skin(success);
}

.alert--error {
  @include alert-skin(error);
}

.alert--warning {
  @include alert-skin(warning);
}

