/**
 * Media
 * 
 * fluid media
 */


/**
 * @todo:
 * 1. compass vertical ryhtm for fluid media margin-bottom value
 */


/**
 * Fluid Images and Video
 *
 * 1. set this to your base-line or a multiple of to maintain vertical rhythm
 */
video,
img {
  max-width: 100%;
  height: auto;
  margin-bottom: $base-line-height;                              /* 1 */
}

