/*** @export "spacers" css */
/**
 * Spacers
 * 
 * Add margins, paddings, and unpaddings using consistient spacing units derived from the 
 * vertical rhythm, the grid, or the modular scale
 */


/**
 * Vertically Separated
 *
 * Adds top and bottom margins to container
 */
%vert-seperated {
  margin-top: $spacer-unit;
  margin-bottom: $spacer-unit;
}

/**
 * Vertically Padded
 * 
 * Adds top and bottom padding to container
 */
%vert-seperated {
  padding-top: $spacer-unit;
  padding-bottom: $spacer-unit;
}

/**
 * Top Seperated
 * 
 * Adds top margin to container
 */
%top-seperated {
  margin-top: $spacer-unit;
}

/**
 * Top Padded
 * 
 * Adds top padding to container
 */
%top-padded {
  padding-top: $spacer-unit;
}

/**
 * Bottom Seperated
 * 
 * Adds bottom margin to container
 */
%bottom-seperated {
  bottom-margin: $spacer-unit;
}

/**
 * Bottom Padded
 * 
 * Adds bottom padding to container
 */
%bottom-padded {
  bottom-padding: $spacer-unit;
}
/**
 * Side Spacers
 */

/**
 * Margined Container
 * 
 * Adds standard padding unit as side margins
 */
%margined-container {
  margin-left: $spacer-unit;
  margin-right: $spacer-unit;
}

/**
 * Padded Container
 * 
 * Adds standard padding unit as side padding
 */
%padded-container {
  padding-left: $spacer-unit;
  padding-right: $spacer-unit;
}

/**
 * Extra Padded Container
 * 
 * Adds an extra padding unit as side padding
 */
%extra-padded-container {
  padding-left: $spacer-unit * 2;
  padding-right: $spacer-unit * 2;
}

/**
 * Unpadded container
 * 
 * Allows an container to reach the border of a padded container
 */
%full-bleed {
  padding-left: $spacer-unit * -1;
  padding-right: $spacer-unit * -1;
}

/**
 * Extra Unpadded container
 * 
 * Allows an container to reach the border of an extra padded container
 */
%extra-full-bleed {
  padding-left: $spacer-unit * -2;
  padding-right: $spacer-unit * -2;
}

