/**
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


/**
 * .node wrapper 
 *
 * disabled by default in Occam
 */
/*
.node {
}
*/

// Preview of the content before submitting new or updated content
// Drupal core uses a #ffffea background
.preview { 
}

// Node title
.node-title {
}

// The picture of the node author
.user-picture {
}

// The "posted by" information 
.submitted {
}
 
// Node's content wrapper
.content {
}


/**
 * Node State Styles
 * 
 */

/**
 * promoted to the front page
 */
.is-promoted {
}

/** 
 * displayed first in lists
 */
.is-sticky {
}

/** 
 * displayed as teaser 
 */
.is-teaser {
}

/**
 * unpublished nodes 
 */
.is-unpublished {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  .unpublished { /* The word "Unpublished" displayed underneath the content. */
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; // A very nice CSS3 property
  }
}


/**
 * A node created by the current user 
 */
/*
.node-by-viewer {
}
*/

/**
 * Node Types
 *
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 *
 * disabled by default by Occam
 */

/**
  * Page node 
  *
  * disabled by default in Occam
  */
/*
.node-page {
}
*/

/**
 * Article node 
 */
/*
.node-article {
}
*/
