/**
 * Link Styles
 *
 * $main-type-scope set within base/_typography.scss
 */


/*** @export "links" css */
/**
 * Link Variables
 */
$copy--link-color:                                              blue;
$copy--link-color-visited:                                      purple;
$copy--link-color-hover:                                        red;
$copy--link-color-focus:                                        green;


/**
 * Link Styles
 */
.#{$main-type-scope} {
  a {
    color: $copy--link-color;
    font-weight: normal;                   
    text-decoration: none;
    &:visited { 
      color: $copy--link-color-visited; 
    }
    &:hover { 
      color: $copy--link-color-hover; 
    } 
    &:focus { 
      color: $copy--link-color-focus; 
    }
  }
}


/*** @export "external-links" css */
/**
 * Identify External Links
 */

/**
//$site-domain: kwaledesign;

  a[href ^= 'http']:not([href *= '#{$site-domain}.']) { 
    background: transparent url(arrow.png) no-repeat center right; 
    padding-right: 16px; 
  }
*/

