/**
 * Blockquotes
 */

.#{$main-type-scope} {
  blockquote {
    font-family: $copy--accent-text;
    margin: $base-line-height, 40px;                        //ms() this
    color: $subtle-color--txt;
    font-style: italic; 
    padding-left: 10px;
    border-left: 5px solid $subtle;
      // right aligned blockquote 
      &.right {
        float: right;
        padding-right: 10px;
        padding-left: 0;
        border-right: 5px solid $subtle;
        border-left: none;
        text-align: right;
      }                        
  }
}

