/**
 * Reset
 * 
 */


/*** @export "normalize-mixin" css */
/**
 * Normalize Mixin
 *
 * comment out any unneeded components
 */
@mixin normalize() {
	@include normalize-display;
	@include normalize-base;
	@include normalize-links;
	@include normalize-typography;
	@include normalize-embeds;
	@include normalize-figures;
	@include normalize-forms;
	@include normalize-tables;
}
/* call normalize mixin */
//@include normalize;


/*** @export "additional-resets" css */
/**
 * Global Resets
 *
 * Any styles here will be built ontop of normalize
 * Many of these additions come from HTML5 Boiler Plate - annotated with h5bp
 */

/**
 * Apply natural box-model to all elements (ie8+ only)
 * see: http://paulirish.com/2012/box-sizing-border-box-ftw/ 
 */
*,
*:after,
*:before { @include box-sizing(border-box); }

/*h5bp*/
html {
	// -webkit-overflow-scrolling: touch;   /* BUG: this will cause havoc on css3 shadow-mask effects!! */
  -webkit-tap-highlight-color: $tap-highlight-color;
  // force scrollbars 100% of the time to avoid horizontal spacing jump
  overflow-y: scroll; 
  min-height: 100%;
}

/**
 * Remove text-shadow in selection highlight. These selection declarations have to be separate
 * h5bp
 */
::-moz-selection { 
  background: $selection-highlight-color; 
  color: $selection-text-color; 
  text-shadow: none; 
}
::selection { 
  background: $selection-highlight-color; 
  color: $selection-text-color; 
  text-shadow: none; 
}

/**
 * Chrome Frame Prompt
 * h5bp
 */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

