/**
 * Rules
 * 
 */  


/*** @export "rules" css */
.#{$main-type-scope} {
  hr { 
    display: block; 
    border: 0;
    @include leading-border($copy--hr-width, .5);
    border-color: $copy--hr-color;
  }
}

